.logo_header {
	padding-top: 5px;
	padding-right: 0px;
	padding-left: 0px;
}

.custom_form1 {
	width: 100%;
	max-width: 330px;
	padding: 15px;
	padding-top: 325px;
	margin: 0 auto;
	font-weight: 400;
	position: relative;
	box-sizing: border-box;
	height: auto;
	padding: 10px;
	font-size: 16px;
	z-index: 2;
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}