<!DOCTYPE html>
<html>
<head>
	{% load staticfiles %}
	<meta charset="utf-8">
	<meta name="social" content="width-device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="/static/fileclassifier/css/style.css">
	<link rel="stylesheet" href="/static/fileclassifier/css/signin.css">
</head>
<body>
	<header>
		<div>
			<nav class="navbar bg-dark navbar-dark fixed-top flex-wrap">
			  <!-- Brand -->
			<a class="navbar-brand" href="#">
				<i class="far fa-file-alt"></i>
				<strong>&nbsp FileClassifier.APi</strong>
			</a> 
			</nav>
		</div>
	</header>
	<div class="jumbotron jumbotron-fluid jum jumbotron-hr text-left" style="padding-top: 101px">
	  <div class="container text-left justify-content-start">
	    <h1 class="display-5"><i class="fas fa-cogs"></i></i>&nbsp Training AIVA.</h1>
	    <p class="lead">This is a demo application to depict how we can help AIVA classify files.</p>
	  </div>
	</div>
	<div class="container-fluid" style="padding-top: 10px">
		{% block ip_content %}
	    {% endblock %}
	</div>
	<script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="/static/fileclassifier/js/bootstrap.min.js"></script>
</body>
</html>